apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: operator
    app.kubernetes.io/instance: 1password-connect
    app.kubernetes.io/name: connect
  name: onepassword-connect-operator
  namespace: 1password
spec:
  replicas: 1
  selector:
    matchLabels:
      name: onepassword-connect
  template:
    metadata:
      labels:
        app.kubernetes.io/component: operator
        name: onepassword-connect
    spec:
      containers:
        - args:
            - --zap-log-level=info
          command:
            - /manager
          env:
            - name: WATCH_NAMESPACE
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: onepassword-connect-operator
            - name: POLLING_INTERVAL
              value: "600"
            - name: AUTO_RESTART
              value: "false"
            - name: OP_CONNECT_HOST
              value: http://onepassword-connect:8080
            - name: OP_CONNECT_TOKEN
              valueFrom:
                secretKeyRef:
                  key: token
                  name: onepassword-token
          image: 1password/onepassword-operator:1.10.1
          imagePullPolicy: IfNotPresent
          name: onepassword-connect
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
            runAsGroup: 65532
            runAsUser: 65532
      serviceAccountName: onepassword-connect-operator
      tolerations: []
